* {
  margin: 0;
  padding: 0;
  font-family: "Papyrus", sans-serif;
}

/* navbar  */

.wrapper {
  margin: 0;
  box-shadow: 5px 0 15px -4px rgba(139, 156, 194, 0.97),
    -5px 0 8px -4px rgba(139, 156, 194, 0.97);
}

.navbar {
  min-height: 65px;
  background-color: #b92c2c;
}

.navbar-brand {
  font-family: "Papyrus";
  margin-left: 8px;
  font-size: 1.3em;
  font-weight: 500;
}

.navbar-nav li a {
  text-decoration: none;
  color: white;
  line-height: 65px;
}
.nav-item:hover a,
.nav-item a.active {
  color: #d6c7c7;
}

.dropdown-menu {
  position: relative;
  margin-top: 7px;
  padding: 0;
}
.dropdown-menu li a {
  line-height: 2em;
  background-color: #b92c2c;
  color: #fff;
}
.dropdown-menu li:hover a {
  background-color: #fff;
  color: #b92c2c;
}
.nav-services:hover .dropdown-menu {
  display: block;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border: none;
  box-shadow: none;
  outline: none;
}

/* carousel */
.carousel-indicators button.active {
  background-color: #b92c2c;
  height: 5px;
}

/* carousel */

/* vision mission */
.center {
  /* display: flex; */
  margin: 0 auto;
  justify-content: center;
}

.vision-mission {
  width: 65%;
  padding: 15px 0;
  color: #b92c2c;
}

.title-line {
  width: 50%;
  border-top: 2px double #b92c2c;
}

.vision-mission p {
  line-height: 2;
  letter-spacing: 1.7px;
}
/* vision mission */

/* Activities */
.activities h1 {
  color: #b92c2c;
}

.activities hr {
  width: 35%;
  margin: 20px auto;
  border-top: 2px double #c92828;
}

.activities h2 {
  margin-left: 10%;
  color: #b92c2c;
}

.carousel-wrap {
  margin: 40px auto;
  padding: 0 5%;
  width: 95%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100;
  -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}

/* Gallery */
#gallery {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;

  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  width: 85%;
}

#gallery img{
  width: 100%;
  height: auto;
  margin: 4% auto;
  box-shadow: -3px 5px 15px #000;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/* Gallery */

/* Activities */

/* footer */
footer {
  background-color: #b92c2c;
  padding: 30px 20px;
  color: #fff;
}

.footer-text {
  margin: 2em 0;
  padding: 0 1em;
  text-align: justify;
}

.footer-contact li {
  list-style: none;
}

.footer-icon {
  font-size: 40px;
  color: aliceblue;
  opacity: 0.5;
  padding: 20px 10px;
}

.footer-contact {
  font-size: 14px;
  color: rgb(209, 215, 219);
  padding-left: 15px;
}

.footer-contact-icon {
  padding: 8px 8px;
}

.footer-nav-container {
  padding-top: 20px;
}

.footer-nav {
  list-style-type: none;
  overflow: hidden;
}

.footer-nav li {
  display: inline;
}

.footer-nav li a {
  color: rgb(255, 250, 244);
  text-decoration: none;
}

.footer-nav li a:hover {
  color: #a38686;
}

.cpy {
  font-size: 12px;
  text-align: center;
}

/* footer */

@media only screen and (max-width: 991px) {
  .nav-item:hover {
    border-bottom: none;
  }
}

@media (max-width: 1200px) {
  #gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;

    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}
@media (max-width: 800px) {
  #gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}
@media (max-width: 600px) {
  #gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
